<div class="container-fluid" ng-controller="ClientsController" style="padding: 30px 10px 0px 10px">
   <div class='row'>
      
      <div class="col-xs-12 col-md-10 col-md-push-1 col-md-pull-1">
            <br><br>
          
            <div class="row">
                <div class="col-xs-6 col-md-12">
                    <h3 class="color1"><i class="fa fa-address-book"></i>&nbsp;&nbsp;&nbsp;Clients
                     &nbsp;&nbsp;
                        <a data-target="#newClientModal" class="btn btn-primary btn-xs" role="button" data-toggle="modal" ng-click='client={}'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;New Client</a> </h3>
                </div>
            </div>  
           <br>
            <!-- CLIENTS-->
           <div class="row">
                  <div ng-repeat="client in clients | orderBy:'company_name'">
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div id="getStartForm" class="thumbnail">
                            <div class="caption">
                                 <div class="thumbnail">
                                   <strong> <h3 class="text-primary text-center"> <i class="fa fa-building-o"></i>&nbsp;&nbsp; {{client.company_name}}</h3></strong>

                                    <address class="text-primary text-center">
                                        <div class='row'>
                                            <div class="col-xs-7 col-md-1 col-md-push-1">
                                                
                                            </div>
                                            <div class="col-xs-7 col-md-10"> 
                                                {{client.direction}} 
                                            </div>
                                            <div class="col-xs-7 col-md-1 col-md-push-1">        
                                            </div>
                                           <div class="col-xs-7 col-md-10">
                                               {{client.city}}, {{cl.country}}
                                           </div>
                                          <div class="col-xs-7 col-md-1 col-md-push-1">      
                                                <i class="glyphicon glyphicon-earphone"></i>
                                            </div>
                                            <div class="col-xs-7 col-md-10">   
                                                <abbr title="Phone">P:</abbr> {{client.phone}}
                                            </div>
                                            <div class="col-xs-7 col-md-1 col-md-push-1">  
                                                <i class="glyphicon glyphicon-envelope"></i>
                                            </div>
                                            <div class="col-xs-7 col-md-10">  
                                                <a href="mailto:#">{{client.email}}</a>
                                            </div>
                                        </div>
                                    </address>
                                </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-2 col-md-10 col-md-offset-2">
                                    <a ui-sref="app.clients.contacts({id: client._id})" class="btn btn-success btn-xs" role="button">Detail Contacts</a> 
                                   
                                    <a data-tooltip="tooltip"  title="Edit Contact" data-target="#EditClientModal"  data-toggle="modal" class="btn btn-warning btn-xs" role="button" ng-click='choseClient(client)' ><span class="fa fa-pencil-square-o" aria-hidden="true"></span></a> 
                                    
                                    <a data-tooltip="tooltip"  title="Delete Contact" data-target="#DeleteClientModal" ng-click="choseClient(client)" data-toggle="modal" class="btn btn-danger btn-xs" role="button" ><span class="fa fa-trash" aria-hidden="true"></span></a> 
                                </div>
                            </div>
                        </div>
                        </div>
                      
                    </div>
                </div>
            </div>
      
        </div>
    </div>
  


<!-- MODALS DEFINITION-->


<!--NEW CLIENT MODAL-->

<div class="modal fade" id="newClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click='client={}'><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-muted text-center" id="exampleModalLabel">New Client Definition</h4>
          </div>
          <div class="modal-body">
                
               <form name="newClientForm" novalidate>
                    <div class="form-group">
                        <label for="name">Client Name</label>
                        <input ng-model='client.company_name' type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="direction" >Client Direction</label>
                        <input ng-model='client.direction' type="text" class="form-control" id="direction" required>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                             <div class="form-group">
                                <label for="city" >Client City</label>
                                <input ng-model='client.city' type="text" class="form-control"  id="city" required>
                            </div>
                        </div>
                         <div class="col-xs-12 col-md-6">
                             <div class="form-group">
                                <label for="country">Client Conutry</label>
                                <input ng-model='client.country' type="text" class="form-control"  id="country" required>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="email">Client email</label>
                                <input ng-model='client.email' type="email" class="form-control"  id="email" required>
                            </div>
                        </div>
                         <div class="col-xs-12 col-md-6">
                             <div class="form-group">
                                <label for="phone">Client Phone</label>
                                <input ng-model='client.phone' type="number" class="form-control"  id="phone" required>
                            </div>
                        </div>
                    </div>
               </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click='client={}' data-dismiss="modal"> Close</button>
            <button type="button"  ng-click='createClient()' class="btn btn-success"  data-dismiss="modal" ng-disabled="newClientForm.$invalid">Save</button>
          </div>               
        </div>
      </div>
</div> 
    
<!-- EDIT CLIETN MODAL-->
    <div class="modal fade" id="EditClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click='returnClients()'><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-muted text-center" id="exampleModalLabel">Edit Client</h4>
          </div>
          <div class="modal-body">
                
              <form name='editClientForm' novalidate>
                    <div class="form-group">
                        <label for="name" class="control-label">Client Name</label>
                        <input ng-model='client.company_name' type="text" class="form-control" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="direction" class="control-label">Client Direction</label>
                        <input ng-model='client.direction' type="text" class="form-control" id="direction" required>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                             <div class="form-group">
                                <label for="city" class="control-label">Client City</label>
                                <input ng-model='client.city' type="text" class="form-control" id="city" required>
                            </div>
                        </div>
                         <div class="col-xs-12 col-md-6">
                             <div class="form-group">
                                <label for="country" class="control-label">Client Conutry</label>
                                <input ng-model='client.country' type="text" class="form-control" id="country" required>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="email" class="control-label">Client email</label>
                                <input ng-model='client.email' type="email" class="form-control" id="email" required>
                            </div>
                        </div>
                         <div class="col-xs-12 col-md-6">
                             <div class="form-group">
                                <label for="phone" class="control-label">Client Phone</label>
                                <input ng-model='client.phone' type="number" class="form-control" id="phone" required>
                            </div>
                        </div>
                    </div>
                </form>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click='returnClients()' data-dismiss="modal"> Close</button>
            <button type="button" ng-click="updateClient(client._id)" class="btn btn-success" ng-disabled='editClientForm.$invalid' data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
</div>   
 
<!--DELETE MODALS DeleteClientModal -->
  <div class="modal fade" id="DeleteClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click='returnClients()'><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-muted text-center" id="exampleModalLabel">Delete Cliente</h4>
          </div>
          <div class="modal-body">
                
            <p>Are you sure you want to delete the client</p>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"> Close</button>
            <button type="button" ng-click="deleteClient()" class="btn btn-danger" data-dismiss="modal">Delete</button>
          </div>
        </div>
      </div>
</div>   
    
</div>      
    
    