<div class="container-fluid" ng-controller="EditActionController" style="padding: 30px 10px 0px 10px">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-push-1 col-md-pull-1">
            <br>
            <br>
            <!-- ACTION PHASES-->
            <div class="row">

                <!-- DEFINE ACTIONS-->
                <div class="col-xs-3 col-md-3 placeholder">
                    <!--PANEL PROSPECT ACTION -->
                    <div ng-repeat='panel in panels'>
                        <div class="panel {{panel.color}}">
                            <div class="panel-heading" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                <i class="{{panel.icon}}" ></i>&nbsp;&nbsp;&nbsp;
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#{{panel.collapse}}" aria-expanded="true" aria-controls="{{panel.collapse}}" ng-click='panel.show()'>
                                 {{panel.title}}
                                </a>
                              </h4>
                            </div>
                            <div id="{{panel.collapse}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">
                                {{panel.text}}
                              </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning" ng-click='show()'>{{textButton}}</button>

                    <!-- Small modal CLOSE-->
                    <button type="button" class="btn btn-danger" ng-click="showClose()"> Action Close</button>

                </div>
                <!--FORMS AND PANELS-->
                <div  class="col-xs-9 col-md-9">
                <!--DETAIL PANEL DEFAINED ACTION-->
                    <div class='row'>
                    <div class='col-xs-12 col-md-10 col-md-offset-1'>
                    <div ng-show=show_act>
                            <div class="panel panel-info">
                              <!-- Default panel contents -->
                                <div class="panel-heading">
                                    <div class='row'><div class="col-md-8"></div></div>
                                    <h4 class="text-center">Defined Action</h4>
                                </div>
                              <!-- List group -->
                              <ul class="list-group">

                                <li class="list-group-item text-center">
                                    <div class="row">
                                        <div class="col-xs-6 col-md-3">
                                            <h5><strong>Action Name</strong></h5> <em> {{action.name}}</em>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <h5><strong>Client:</strong></h5> <em>   {{action.client_name}}</em>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                              <h5><strong>Start Date:</strong></h5> <em>   {{action.start_date| date: "yyyy-MM-dd"}}</em>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <h5><strong>End Date:</strong></h5> <em>   {{action.end_date| date: "yyyy-MM-dd"}}</em>
                                        </div>

                                    </div>

                                </li>

                                <li class="list-group-item text-center"><h5><strong>Action Description:</strong></h5> <em>   {{action.description}}</em></li>
                              </ul>
                             </div>

                    <!--DETAIL  PANEL PRPOSPECT ACTION-->
                            <div class="panel panel-info">
                              <!-- Default panel contents -->
                                <div class="panel-heading">
                                    <div class='row'><div class="col-md-8"></div></div>
                                    <h4 class="text-center">Prospect Action</h4>
                                </div>
                              <!-- List group -->
                              <ul class="list-group">
                                <li class="list-group-item text-center"><h5><strong>Prospect Objective</strong></h5> <em> {{action.prospection.objective}}</em></li>


                                <li class="list-group-item text-center">
                                    <div class='row'>
                                        <div class='col-xs-6 col-md-6'>
                                            <h5><strong>Client:</strong></h5> <em>   {{action.prospection.contact}}</em>
                                        </div>
                                        <div class='col-xs-6 col-md-6'>
                                            <h5><strong>Client Meeting Date:</strong></h5> <em>   {{action.prospection.meeting_date | date: "yyyy-MM-dd"}}</em>
                                        </div>
                                    </div>
                                </li>
                              </ul>
                            </div>
                    </div>
                    </div>
                    </div>

                    <!--EDIT  FORM PROSPECTION ACTION-->
                    <div class='row'>
                        <div id="getStartForm" class='col-md-9 col-md-offset-1 thumbnail' ng-show=show_edit>
                        <div class="caption">

                                <form name='prospectionForm' ng-submit="update()" novalidate>
                                    <div class="form-group">
                                        <label for="objective">Prospect Objective</label>
                                        <textarea id="objective" class="form-control" rows="3"  placeholder="{{action.prospection.objective}}" ng-model="action.prospection.objective" required></textarea>
                                    </div>
                                     <div class="input-group">
                                         <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" data-target="#ChoseContactModal" ng-click='getContacts()' data-toggle="modal">Go</button>
                                            </span>
                                            <input type="text" class="form-control" ng-model="action.prospection.contact" placeholder="{{action.prospection.contact}} choose the contact" required>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label for="pros_date">Meeting Date</label>
                                        <input class="form-control" type="date" placeholder='{{action.prospection.meeting_date}}' id="pros_date" ng-model="action.prospection.meeting_date" required>
                                    </div>
                                     <button type="submit" class="btn btn-success" ng-disabled="prospectionForm.$invalid" ng-click="show1()">SAVE</button>
                                </form>

                        </div>
                        </div>
                    </div>

                    <!--NEW  REQUEST ACTION-->
                    <div class='row'>
                        <div id="getStartForm" class='col-md-9 col-md-offset-1 thumbnail' ng-show=show_create>
                        <div class="caption">

                                <form name='requestForm' ng-submit="saveNew()" novalidate>
                                    <div class="form-group">
                                        <label for="service">Service / Product Description</label>
                                        <textarea id="service" class="form-control" rows="3"  placeholder="Explain the product or service the client request" ng-model="action.request.service_product" required></textarea>
                                    </div>
                                     <div class="form-group">
                                        <label for="resources">Resources</label>
                                        <textarea id="resources" class="form-control" rows="3"  placeholder="Define the resources will need to develop the porject" ng-model="action.request.resources" required></textarea>
                                    </div>
                                   <div class="form-group">
                                        <label for="res_date">Response Date</label>
                                        <input class="form-control" type="date" placeholder='year/month/day' id="res_date" ng-model="action.request.response_date" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="budget">Estimate Project Budget</label>
                                        <input class="form-control" type="number" id="budget" ng-model="action.request.estimate_budget" required>
                                    </div>
                                     <button type="submit" class="btn btn-success" ng-disabled="requestForm.$invalid">SAVE</button>
                                </form>

                        </div>
                        </div>
                    </div>
                     <!--CLOSE  PROSPECTION ACTION-->
                    <div class='row'>
                    <div id="getStartForm" class='col-md-9 col-md-offset-1 thumbnail' ng-show=show_close>
                        <div class="caption">

                                <form name='closeForm' ng-submit="close()" novalidate>
                                    <div class="form-group">
                                        <label for="feedback">Feedback</label>
                                        <textarea id="feedback" class="form-control" rows="3"  placeholder="Explain the reasons for clousing the action in this phases." ng-model="action.feedback.description" required></textarea>
                                    </div>

                                     <button type="submit" class="btn btn-danger" ng-disabled="closeForm.$invalid">Close Action</button>
                                </form>

                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------------------>
    <!-- MODALS #ChoseContactModal-->
    <div class="modal fade" id="ChoseContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-muted text-center" id="exampleModalLabel">{{client.company_name}} CONTACT LIST</h4>
          </div>
          <div class="modal-body">
                <div class="list-group">
                    <div ng-repeat='contact in client.contacts'>
                    <a data-dismiss="modal" type="button" class="list-group-item text-center" ng-click='contactChose(contact)'>{{contact.name}}</a>
                    </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
