<div class="container-fluid" ng-controller="GetStartController" style="padding: 30px 10px 0px 10px">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-push-1 col-md-pull-1">
            <br>
            <br>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <h3 class="color1"><i class="glyphicon glyphicon-play-circle"></i>&nbsp;&nbsp;GetStart Action Sale</h3>
                </div>
            </div>  
            <br>
          
            
            <br>
            <!-- ACTION PHASES-->
            <div class="row">
                
                <!-- DEFINE ACTIONS-->
                <div class="col-xs-6 col-md-3 placeholder">
                    <div class="panel panel-success">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                                <i class="fa fa-comment-o fa-4x"></i>&nbsp;&nbsp;&nbsp; 
                              <a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="ture" aria-controls="collapseOne">
                              Defined Action
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                           This is the first step of the cycle. You have to describe the action that you have in mind and choose the client that you want to make the action. Also put a dead line for all the cycle.
                          </div>
                        </div>
                    </div>
                </div>
                
                <div id="getStartForm" class="col-xs-12 col-md-8 thumbnail">
                 <div class="caption">
                    <form name='defineForm' ng-submit="save()" novalidate>
                                <div class="form-group" >
                                    <label for="action_name">Action Name</label>
                                    <input type="text" class="form-control" id="action_name" placeholder="Write a name to identify the action" ng-model="action.name"  required>
                                </div>
                                <div class="form-group">
                                    <label>Client Action</label>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" data-target="#ChoseClientModal"  ng-click='getClients()' data-toggle="modal">Go!</button>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Choose the client" ng-model="client.company_name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea id="description" class="form-control" rows="3"  placeholder="Describe the action to develope" ng-model="action.description" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="start_date">Start Date</label>
                                    <input class="form-control" type="date" id="start_date"  placeholder="yyyy-mm-dd Example 2017-01-26" ng-model="action.start_date" required>
                                </div>
                                <div class="form-group">
                                    <label for="end_date">End Date</label>
                                    <input class="form-control" type="date" placeholder="yyyy-mm-dd" id="end_date" ng-model="action.end_date" required>
                                </div>
                                 <button type="submit" class="btn btn-success" ng-disabled="defineForm.$invalid">SAVE</button>
                            </form>
                    </div>  
                </div>
            </div>
           
        </div>
       
    </div>
    <!------------------------------------------->
    <!--MODALS #ChoseClientModal -->
    <div class="modal fade" id="ChoseClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-muted text-center" id="exampleModalLabel">CIENT LIST</h4>
          </div>
          <div class="modal-body">
                <div class="list-group">
                    <div ng-repeat='client in clients'>
                    <a data-dismiss="modal" type="button" class="list-group-item text-center" ng-click='clientChose(client)'>{{client.company_name}}</a>
                    </div>
              </div>
          </div>         
        </div>
      </div>
    </div> 
    
    
    
</div>


