<div class="container-fluid" style="padding: 30px 5px 0px 5px">
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-push-1 col-md-pull-1">
          <div class="jumbotron">
            <h1>GO, Action!!!</h1>
            <p>Start to record and control all the activities you do in order to reach your clients and see the relationship with the sales</p>
            <p>GO is an application that guide you to fulfill different steps before and after you meeting with a client in order to make a sale</p>
            <p> Before you start your first Go Action. First of all you have to define your client list</p>
            <p>Login into the application and getStart.<p>
            <p><a class="btn btn-primary btn-lg" ng-click="openLogin()" role="button">Login</a></p>
          </div>
        </div>
    </div>
</div>
